.header {
  background: #242424;
  border-bottom: 1px solid #000;
  position: relative;
  z-index: 1000;
  height: 70px;
}
.header-subnav {
  background-color: #c20c0c;
  border-bottom: 1px solid #a40011;
}
.header-top-navs {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  display: flex;
  align-items: center;
}
.header-subnav-navs {
  min-height: 5px;
}
.header-top-navs-logo {
  width: 176px;
  height: 69px;
  padding-right: 20px;
}
.header-top-navs-list {
  display: flex;
  align-items: center;
}
.header-top-navs-list a {
  position: relative;
  padding: 0 19px;
  text-align: center;
  line-height: 70px;
  color: #ccc;
}
.header-top-navs-list a:hover {
  background-color: black;
  color: white;
}

.header-top-navs-list a.active {
  background-color: black;
  color: white;
}
.header-top-navs-list a.active sub {
  display: block;
}
.header-top-navs-list a.active::after {
  content: "";
}
.header-top-navs-list li:last-child {
  position: relative;
}
.header-top-navs-list li:last-child::after {
  background-color: rgb(192, 0, 20);
  top: 18px;
  left: 95px;
  width: 35px;
  height: 19px;
  content: "HOT";
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 10px;
  font-size: 13px;
  color: white;
  transform: scale(0.7);
}
.header-top-navs-logo {
  background: url(../imgs/topbar.png);
  background-position: 0px -1px;
}
.header-top-navs-list a sub {
  display: none;
  position: absolute;
  border: 6px solid rgb(192, 0, 20);
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.header-subnav-navs {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}
.header-subnav-navs ul {
  display: flex;
  align-items: center;
  padding-left: 180px;
}
.header-subnav-navs ul li {
  height: 34px;
  text-align: center;
}
.header-subnav-navs ul li a {
  color: #fff;
  font-size: 12px;
}
.header-subnav-navs ul li a.active em {
  border-radius: 10px;
  background: #9b0909;
}
.header-subnav-navs ul li a em {
  display: inline-block;
  height: 20px;
  padding: 0 13px;
  margin: 7px 17px 0;
  line-height: 19px;
}
.search {
  position: relative;
  left: 86px;
}
.search::before {
  position: absolute;
  top: 8px;
  left: 9px;
  background: url(../imgs/topbar.png);
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-position: -9px -107px;
}
.search input {
  padding-left: 30px;
  width: 158px;
  height: 32px;
  border-radius: 16px;
  border: 0;
}
.search input::placeholder {
  color: #9b9b9b;
  font-size: 12px;
}
.search input:focus::placeholder {
  color: transparent;
}
a.CreatorCenter {
  position: relative;
  left: 100px;
  width: 90px;
  height: 32px;
  border: 1px solid #4f4f4f;
  line-height: 31px;
  color: #ccc;
  border-radius: 20px;
  text-align: center;
  font-size: 12px;
}
a.CreatorCenter:hover {
  color: #fff;
  border: 1px solid #ccc;
}
.loginbox {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 107px;
}
.loginbox::before {
  display: none;
  position: absolute;
  top: 47px;
  width: 158px;
  background: #2b2b2b;
  border: 1px solid #202020;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  content: "";
}
.loginbox::after {
  display: none;
  position: absolute;
  top: 41px;
  z-index: 10;
  border: 7px solid rgb(43, 43, 43);
  border-top-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
  content: "";
}
.loginbox:hover::after,
.loginbox:hover::before {
  display: block;
}
.loginbox:hover a {
  color: #999999;
}
a.loginbtn {
  font-size: 12px;
  color: #787878;
}
a.loginbtn:hover {
  color: #787878;
  text-decoration: underline;
}
.banner {
  position: relative;
}
.banner-content {
  width: 982px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
.banner-left,
.banner-right {
  height: 285px;
}
.banner-left,
.banner-left-imgs {
  width: 730px;
}
.banner-left-imgs {
  position: relative;
}
.banner-left-imgs img {
  height: 285px;
}
.banner-right {
  background: url(../imgs/download.png);
  flex-grow: 1;
}
.banner-right a {
  width: 215px;
  height: 56px;
  margin: 186px auto 0;
}
.banner-right p {
  margin: 10px auto;
  text-align: center;
  color: #8d8d8d;
  font-size: 12px;
}
.banner-right a:hover {
  background: url(../imgs/download.png);
  background-position: 0 -290px;
}
.banner-left .backimage {
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -100;
  opacity: 0.5;
  height: 285px;
}

.carouselbtn {
  position: absolute;
  height: 20px;
  width: 100%;
  bottom: 5px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.carouselbtn a {
  width: 20px;
  height: 20px;
  background: url(../imgs/dot.png);
}
.carouselbtn a.active {
  background: url(../imgs/dot_slt.png);
}
.carouselbtn a:hover {
  background: url(../imgs/dot_slt.png);
}
.prebtn {
  left: -67px;
  background: url(../imgs/arrl.png);
}
.nextbtn {
  right: -67px;
  background: url(../imgs/arrr.png);
}
.prebtn,
.nextbtn {
  top: 112px;
  position: absolute;
  width: 37px;
  height: 63px;
  cursor: pointer;
}
.prebtn:hover {
  background: url(../imgs/arrl_hvr.png);
}
.nextbtn:hover {
  background: url(../imgs/arrr_hvr.png);
}
.banner-btnbox {
  position: absolute;
  width: 982px;
}
